<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>About</h2>
        <span flex></span>
        <md-button class="md-fab-docs-scroll-fab md-button" ng-click="cancel()">
          X
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">


      </div>
    </md-dialog-content>

    <md-button class="md-fab md-fab-bottom-right docs-scroll-fab md-button scrolling" ng-click="cancel()" style="position:fixed !important;">X</md-button>

  </form>
</md-dialog>