<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>易读 Easy Read</title>
</head>
<body ng-app="myApp" ng-controller="MainController">
    <div ng-cloak>
        <md-button aria-label="menu" class="md-fab md-mini md-fab-top-right md-warn" ng-click="clickHome()" style="position:fixed !important;">
            <i class="material-icons">home</i>
        </md-button>
        <md-content layout-padding ng-show="showMenu">
            <md-button ng-repeat="section in sections" class="md-primary md-accent md-mini" ng-href="#{{section.topic}}">
            {{ section.topic }}
            </md-button>
        </md-content>
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1" md-diameter="60" ng-if="mainPageLoading"></md-progress-circular>
    </div>
    <div ng-cloak layout-gt-sm="row" layout="column">

        <div flex-gt-sm="50" flex >
            <div ng-repeat="section in sections track by $index" >
                <md-toolbar layout="row" class="sm-hue-3" 
                md-colors="::{backgroundColor: 'purple-300'}">
                    <div class="sm-toolbar-tools" >
                        <a name="{{section.topic}}"><span >{{section.topic}}</span></a>
                    </div>
                </md-toolbar>
                <md-content>
                    <md-list flex layout-fill>
                        <md-list-item class="md-2-line md-long-text" ng-repeat='item in section.news' ng-click="openNews(item.link, item.title)">
                            <img ng-src ={{item.pic}} src="./img/default.jpg" flex=25 alt="flower" />
                            <div class="md-list-item-text" layout="column" layout-wrap flex=75>
                                <p> {{ item.title }}</p>
                            </div>

                        </md-list-item>

                    </md-list>
                </md-content>

            </div>
        </div>
    </div>

    <md-button class="md-fab md-mini md-fab-bottom-right docs-scroll-fab md-button scrolling" ng-click="scrollTop()" style="position:fixed !important;">Top</md-button>

<!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/MainController.js"></script>

</body>
</html>