<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{newsTitle}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          X
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <a href={{newsLink}} target="_blank">{{news.source}}</a>
        
        <div ng-repeat="content in news.content track by $index">
          <div ng-if="content.isImage">
            <img style="margin: auto; max-width: 100%;" alt="image failed" ng-src="{{ content.isImage }}" />
          </div>
          <div ng-show="!content.isImage">
            <p>{{ content }}</p>
            <p></p>
          </div>
        </div>

      </div>
    </md-dialog-content>

  </form>
</md-dialog>